@model FrontEnd.Models.UsuarioViewModel

@{
    ViewData["Title"] = "Eliminar usuarios";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<!-- ======= Breadcrumbs ======= -->
<section id="breadcrumbs" class="breadcrumbs">
    <div class="container">
    </div>
</section><!-- End Breadcrumbs -->
</main><!-- End #main -->

<h1>Eliminar usuarios</h1>

<h3>¿Estás seguro de que quieres eliminar este usuario?</h3>
<div>
    <h4>Usuario: @Html.DisplayFor(model => model.NombreUsuario)</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdUsuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdUsuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreUsuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreUsuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Contrasena)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Contrasena)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdRol)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdRol)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
