@model FrontEnd.Models.InventarioViewModel

@{
    ViewData["Title"] = "Borrar del Inventario";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<!-- ======= Breadcrumbs ======= -->
<section id="breadcrumbs" class="breadcrumbs">
    <div class="container">
    </div>
</section><!-- End Breadcrumbs -->
</main><!-- End #main -->

<h1>Borrar Item</h1>

<h3>¿Estás seguro de que quieres eliminar esate item?</h3>
<div>
    <h4>Inventario: @Html.DisplayFor(model => model.DescProducto)</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdProducto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdProducto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescProducto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescProducto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CantidadDisponible)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CantidadDisponible)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
