@model FrontEnd.Models.CabinaViewModel

@{
    ViewData["Title"] = "Eliminar cabina";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<!-- ======= Breadcrumbs ======= -->
<section id="breadcrumbs" class="breadcrumbs">
    <div class="container">
    </div>
</section><!-- End Breadcrumbs -->
</main><!-- End #main -->

<h1>Eliminar cabina</h1>

<h3>¿Estás seguro de que quieres eliminar esta cabina?</h3>
<div>
    <h4>Cabina: @Html.DisplayFor(model => model.DescCabina)</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdCabina)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCabina)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescCabina)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescCabina)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CamasDisponibles)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CamasDisponibles)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CantidadPersonas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CantidadPersonas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrecioNoche)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrecioNoche)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Disponible)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Disponible)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
